<div class="ai-wrapper">
    <a href="/"><p id="back">BACK</p></a>

    <h1>{{ai.title}}</h1>

<p>{{ai.content}}</p>

<a href="/editor/{{ai.id}}" ><p id="edit"> edit </p></a>

</div>

      <script src="/js/ai.js"></script>
