    <div class="container">
      <a href="/ai/{{document.id}}"><p id="back">BACK</p></a>
      <h1>{{document.title}}</h1>

    <p id="rename">Rename</p>
    <div id="editor">
      </div>
    </div>

<br><br>

<button id="generate">Generate</button>
<button id="save">Save</button>

<br><br>

<button id="delete">Delete</button>

      <script src="/js/editor.js"></script>
      <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
      <script>
        var quill = new Quill('#editor', {
          theme: 'snow'
        });
      </script>

