<div class="d-flex justify-content-end">
    <div class="card mb-3">
        <div class="row g-0" id="introCard">
            <div class="col-md-6">
                <img src="./images/technology-connection.jpg" class="img-fluid rounded"
                    alt="half human face half virtual face">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h1>
                        Hello, we are <span style="color: #2A2438;">Muse</span>. This project was conjured up to
                        provide
                        a community for <span style="color: #2A2438;"> creative writers</span> to share their
                        stories
                        which are prompted by using an <span style="color: #2A2438;">AI assistant</span>. It's a
                        place
                        for students to practice creative writing. Let's bring the <span
                            style="color: #2A2438;">fun</span> back into writing, together.
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-start">
    <div class="card mb-3">
        <div class="row g-0" id="howCard">
            <div class="col-md-6" id="howText">
                <div class="card-body">
                    <h1>
                        The technology being used is provided by OpenAI which is an AI research and deployment company.
                        By combining the power of OpenAI with your writing ability, the possiblities for your story are
                        endless.
                    </h1>

                </div>

            </div>

            <div class="col-md-6" id="howImage">
                <img src="./images/aow8rqhvjbmhmdiopzea.webp" class="img-fluid rounded-start" alt="OpenAI brand logo">

            </div>

        </div>

    </div>

</div>