<div class="card border-success mb-3" style="max-width: 100%;" id="loginCard">
    <div class="card-header bg-transparent">Log In</div>
    <div class="card-body text-success">
        <p class="card-text">
        <form id="loginForm">
            <div class="mb-3">
                <label for="email-login" class="form-label" id="emailLabel">Email Address</label>
                <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password-login" class="form-label" id="passwordLabel">Password</label>
                <input type="password" class="form-control" id="password-login">
            </div>
            <div class="card-footer bg-transparent">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" id="loginBtn">Log In</button>
                </div>
            </div>
    </div>
    </form>
    </p>
</div>
</div>
</div>
</div>
<div class="card text-center" id="signupLink">
    <div class="card-body">
        <h5 class="card-title">Don't have an account? It's free to register!</h5>
        <p class="card-text">By registering an account with us you'll be able to use all of the functions available
            in our app. We look forward to reading your stories!</p>
        <button class="open-button btn btn-primary" onclick="openForm()">Sign Up Here!</button>
        <div class="form-popup" id="signupPopup">
            <form class="form-container" id="signupForm">
                <header>Please enter the following information to sign up!</header>
                <div class="mb-3">
                    <label for="name-signup">Name :</label>
                    <input type="text" class="form-input" id="name-signup">
                    <div class="mb-3">
                        <label for="email-signup">Email :</label>
                        <input class="form-input" type="email" id="email-signup" />
                    </div>
                    <div class="mb-3">
                        <label for="password-signup">Password :</label>
                        <input class="form-input" type="password" id="password-signup" />
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Sign Up</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>