:root {
  --darkest: #2A2438;
  --darker: #352F44;
  --dark: #5C5470;
  --light: #DBD8E3;
  --fonts: "garamond", "georgia", "verdana";
}

* {
  color: var(--darkest);
  font-family: var(--fonts);
}

main {
  background-color: var(--light);
}

#introCard h1 {
  color: var(--light) !important;
}

#introCard h1 span {
  font-size: 42px;
  border-radius: 8px;
  background-color: var(--dark) !important;
}

.navbar-brand {
  color: var(--dark) !important;
}

#scrollNavbar {
  background-color: var(--darkest);
  font-size: larger;
  padding-bottom: 7%;
}

#navbarToggler {
  background-color: var(--dark) !important;
}

.navbar-toggler-icon {
  background-color: var(--dark) !important;
}

.navbar-toggler {
  border-color: var(--dark) !important;
  background-color: var(--dark) !important;
}

.nav-link {
  color: var(--light) !important;
  font-size: larger !important;
}

#scrollContainer {
  background-color: var(--darkest);
}

.card {
  border-width: 0px !important;
}

#introCard {
  padding-right: 7%;
  padding-left: 7%;
  padding-bottom: 7%;
  background-color: var(--darkest);
}

.img-fluid {
  object-fit: cover !important;
  max-width: 100% !important;
}

a {
  background-color: var(--darkest);
  color: var(--darkest) !important;
}

.d-flex {
  background-color: var(--dark) !important;
}

#howCard {
  padding: 7%;
  background-color: var(--dark) !important;
}

#howText {
  background-color: var(--dark) !important;
}

#howText h1 {
  color: var(--light);
}

#howImage {
  background-color: var(--dark) !important;
  object-fit: cover !important;
  max-width: 100% !important;
  padding-left: 7%;
}

#howImage .img-fluid {
  float: right;
}

#loginCard {
  align-items: center !important;
  font-size: xx-large;
  background-color: var(--light) !important;
}

#emailHelp {
  color: var(--dark) !important;
}

.card-header {
  border-color: var(--darker) !important;
  color: var(--darker) !important;
}

#passwordLabel,
#emailLabel {
  color: var(--darker) !important;
}

.card-footer {
  border-color: var(--darker) !important;
}

.form-group {
  float: right;
}

#signupLink {
  background-color: var(--dark);
  font-size: xx-large;
  padding: 1.5%;
}

.card-title,
.card-text,
.open-button {
  color: var(--light) !important;
}

.form-popup {
  display: none;
  position: fixed;
  left: 33%;
  bottom: 25%;
  top: 12%;
}

.form-container {
  min-width: 400px;
  padding: 10%;
  background-color: var(--dark);
  box-shadow: 5px 10px var(--darker);
  min-width: none;
  max-height: fit-content !important;
}

.form-container header {
  color: var(--light);
}

.form-container .form-input {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: none;
  background: var(--light);
}

.form-container .cancel {
  background-color: red;
}

label,
button {
  color: var(--light) !important;
}

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.profile-text-title {
  background-color: white;
}

header h1 {
  color: var(--darkest);
  text-align: center !important;
  font-size: 60px !important;
}

#newProjectBtn {
 float: right;
 margin-right: 25%;
}

.col-md-6 {
  width: 100% !important;
}

.col-md-6 h1 {
  color: var(--darker);
  font-size: 48px;
  margin-left: 2%;
  padding: 3%;
}

.card .card-header {
  background-color: var(--dark);
}

.profile-text-title {
  font-size: 36px;
  background-color: var(--dark);
}

.card-header a {
  color: var(--light) !important;
}

#projectCardBody {
  padding-top: 2%;
  padding-bottom: 2%;
}

#projectCardBody h5 {
  padding: 2%;
  color: var(--dark) !important;
  font-size: x-large;
}

.btn.btn-danger {
  background-color: var(--darkest);
  border-color: var(--dark);
}

#aiWrapper {
  margin-left: 5%;
}

.wrapper .btn {
  border-radius: 5px !important;
  background-color: var(--darkest);
  margin-top: 1%;
  border-color: var(--dark) !important;
  margin-bottom: 1%;
  align-content: center;
}

.wrapper a {
  color: var(--darkest) !important;
}

.wrapper h1 {
  color: var(--darker);
}

.wrapper #back {
  margin-right: 25%;
  float: right;
}

.wrapper #back2 {
  margin-right: 12px;
  float: right;
}

.credit-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#dashboardHeader {
  text-align: center;
  font-size: 60px;
}

#dashboardLayout {
  padding-top: 36px;
}

#dashboardLayout .card {
  background-color: var(--dark);
}

#dashboardCard .profile-text-title {
  font-size: 48px !important;
  color: var(--darkest) !important;
  background-color: var(--dark) !important;
}

#dashboardCard .card-body p {
  font-size: x-large !important;
  color: var(--light) !important;
}

#dashboardLayout .card-text a {
  background-color: var(--dark);
  font-size: x-large;
  color: var(--light) !important;
}